[tool.black]
line-length = 88
target-version = ['py313']

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true

[tool.mypy]
python_version = "3.13"
strict = true
ignore_missing_imports = true

[tool.flake8]
max-line-length = 88
extend-ignore = "E203, W503"